<div class="row section-content">
  <div class="small-12 column">
    <h3 id="polls" data-magellan-target="polls"><%= t("pages.help.polls.title") %></h3>
    <p>
      <%= t("pages.help.polls.description1",
            link: link_to(t("pages.help.polls.link"),
            polls_path)).html_safe %>
      <%= t("pages.help.polls.description2",
            link2: link_to(t("pages.help.polls.link2"),
            "https://www.portlandoregon.gov/auditor/article/674246", target: :_blank)).html_safe %>
    </p>
    <p>
      <%= t("pages.help.polls.description3",
            link: link_to(t("pages.help.polls.link"), polls_path)).html_safe %>
    </p>
    <p>
      <%= t("pages.help.polls.description4",
            link: link_to(t("pages.help.polls.link"), polls_path)).html_safe %>
    </p>
  </div>
</div>
